/*
	Author : S.Monte aka Oreò
	 Contact: nossimulator@gmail.com
 	  Licenza Creative Commons Attribuzione - Non commerciale - Non opere derivate 3.0 Unported.
*/
@charset "utf-8";

body { font-size: 14px }

p, h1, h2, h3, h4, h5, h6, b {
    color: #fff;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 20px;
}

p {
    font-size: 1em;
    line-height: 20px
}

h1 {
    font-size: 1.5em;
    line-height: 30px
}

h2 { font-size: 1.2em }

#wrapperLogo {
    height: 77px;
    width: 960px
}

#wrapperLogo img {
    height: 67px;
    left: 50%;
    margin: 10px 0 0 -100px;
    position: relative;
    width: 200px;
}

#wrapperClass {
    height: 20px;
    width: 960px
}

#wrapperClass div {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    height: 20px;
    margin-left: 15px;
    text-align: center;
    width: 90px;
}

#wrapperClass div a {
    display: block;
    line-height: 20px
}

#wrapperEquip {
    height: 55px;
    margin-top: 10px;
    width: 960px;
}

.arrow {
    display: none;
    height: 40px;
    width: 40px;
}

.arrow a {
    display: block;
    line-height: 40px
}

#arrowSx {
    background-image: url(imgEquip/sx.png);
    margin-left: 5px
}

#arrowSx a:hover { background-image: url(imgEquip/sxH.png) }

#arrowDx {
    background-image: url(imgEquip/dx.png);
    margin-left: 5px
}

#arrowDx a:hover { background-image: url(imgEquip/dxH.png) }

#wrapperFake {
    background-color: transparent;
    float: left;
    height: 55px;
    margin-left: 10px;
    overflow: hidden;
    position: relative;
    width: 850px;
}

#fake1 { display: none }

#fake2 { display: none }

#fake3 { display: none }

#fake4 { display: none }

#fake5 { display: none }

#fake6 { display: none }

#fake7 { display: none }

#fake8 { display: none }

#fake9 { display: none }

.fake div {
    height: 55px;
    margin-left: 10px;
    width: 40px;
}

.fake .first { margin-left: 5px }

.fake div img {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    height: 40px;
    width: 40px;
}

.fake div p {
    color: #333;
    font-size: 0.8em;
    line-height: 15px;
    text-align: center
}

#wrapperGlobal {
    background-color: transparent;
    height: 448px;
    margin-top: 10px;
    width: 960px;
}

#wrapperLeft {
    -moz-border-radius: 5px 5px 0 40px;
    -webkit-border-radius: 5px 5px 0 40px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px 5px 0 40px;
    display: none;
    height: 428px;
    margin-left: 10px;
    padding: 5px;
    width: 240px;
}

#wrapperImgSmall {
    height: 40px;
    margin-top: 10px;
    width: 250px;
}

#wrapperImgSmall img {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    margin-left: 105px;
    width: 40px;
}

#wrapperLeft p { text-align: center }

#wrapperLeft #name { color: #fff }

#wrapperLeft #lv { font-size: 0.8em }

#wrapperLeft #wrapperDamage * {
    font-size: 0.8em;
    line-height: 14px;
}

#wrapperLeft #wrapperDamage .dannoColor { color: #fe9 }

#wrapperLeft #wrapperDamage .prezzoColor { color: #f34 }

#wrapperLeft #wrapperDamage .effettoColor { color: #f93 }

#wrapperLeft #wrapperDamage .rangeDannoColor { color: #fe9 }

#wrapperLeft #wrapperDamage .rangeArmorColor { color: #fe9 }

#wrapperMiddle {
    background-color: transparent;
    display: none;
    height: 438px;
    margin-left: 10px;
    width: 420px;
}

.topMiddle {
    height: 100px;
    width: 420px;
}

#wrapperBottonUp { display: none }

#wrapperBottonRar { display: none }

#wrapperBottonUp div {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    height: 40px;
    margin-left: 30px;
    moz-border-radius: 20px;
    webkit-border-radius: 20px;
    width: 40px;
}

#wrapperBottonUp .first { margin-left: 50px }

#wrapperBottonUp .lowerFirst { margin-left: 15px }

#wrapperBottonUp .lower { margin-top: 10px }

#wrapperBottonUp div a {
    display: block;
    line-height: 40px
}

#wrapperBottonUp div a p {
    line-height: 40px;
    margin-left: -3px;
    text-align: center;
}

#wrapperBottonRar div {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    height: 40px;
    margin-left: 37px;
    moz-border-radius: 20px;
    webkit-border-radius: 20px;
    width: 40px;
}

#wrapperBottonRar .lower { margin-top: 10px }

#wrapperBottonRar div a {
    display: block;
    line-height: 40px
}

#wrapperBottonRar div a p {
    line-height: 40px;
    text-align: center
}

#bottomMiddle {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    display: block;
    height: 338px;
    width: 420px;
}

#leftBottomMiddle {
    background-color: transparent;
    height: 338px;
    width: 80px;
}

#leftBottomMiddle div {
    height: 60px;
    margin: 94px 0 0 10px;
    width: 60px;
}

#leftBottomMiddle #bottonUp { visibility: visible }

#leftBottomMiddle .lowerImg { margin-top: 10px }

#leftBottomMiddle a { display: block }

#leftBottomMiddle a img {
    height: 60px;
    width: 60px
}

.rightBottomMiddle {
    background-color: transparent;
    height: 338px;
    width: 340px
}

#bottomMiddleUp { display: none }

#wrapperImgMalcomUp {
    height: 100px;
    width: 80px
}

#wrapperImgMalcomUp img {
    float: right;
    height: 40px;
    margin-top: 60px;
    width: 40px;
}

#wrapperProbMalcomUp {
    height: 60px;
    margin: 50px 0 0 40px;
    width: 220px;
}

#wrapperMateMalcomUp {
    height: 100px;
    margin-top: 20px;
    width: 340px;
}

#wrapperMateMalcomUp .wrapperMate {
    height: 140px;
    width: 112px
}

#wrapperMateMalcomUp .wrapperMate img {
    height: 40px;
    margin: 20px 0 0 25px;
    width: 40px;
}

#wrapperMateMalcomUp .wrapperMate .wrapperMateText {
    height: 40px;
    margin: 10px 0 0 0px;
    text-align: center;
    width: 90px;
}

#wrapperMateMalcomUp .wrapperMateFirst { margin-left: 2px }

#bottomMiddleRar { display: none }

#bottomMiddleRar #wrapperMateImgRar img {
    height: 40px;
    margin: 60px 0 0 130px;
    width: 40px;
}

#wrapperMateRar {
    height: 128px;
    width: 340px
}

#wrapperMateRar .wrapperMate {
    height: 196px;
    margin-top: 60px;
    width: 130px;
}

#wrapperMateRar .wrapperMate img {
    height: 40px;
    margin-left: 65px;
    width: 40px;
}

#wrapperMateRar .wrapperMate p {
    text-align: center;
    width: 170px
}

.wrapperTheBotton {
    height: 100px;
    width: 340px
}

.wrapperTheBotton .theBotton {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-color: rgba(80, 120, 240, 0.5);
    background-image: -moz-linear-gradient(top, rgba(40, 80, 160, 0.5), rgba(80, 120, 240, 0.5));
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(40, 80, 160, 0.5)), to(rgba(80, 120, 240, 0.5)));
    border: 1px solid #222;
    border-radius: 20px;
    height: 50px;
    margin: 20px 0 0 30px;
    width: 250px;
}

.wrapperTheBotton .theBotton a { display: block }

.wrapperTheBotton .theBotton a p {
    line-height: 50px;
    text-align: center
}

.wrapperTheBotton .theBotton a:hover {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.wrapperTheBotton #theBottonUp { display: block }

.wrapperTheBotton #theBottonRar { display: block }

#wrapperRight {
    -moz-border-radius: 5px 5px 40px 0;
    -webkit-border-radius: 5px 5px 40px 0;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px 5px 40px 0;
    display: none;
    height: 428px;
    margin-left: 10px;
    padding: 5px;
    width: 240px;
}

#wrapperRight p {
    font-size: 0.9em;
    line-height: 14px
}

#wrapperRight .titoloStatistiche {
    font-size: 1em;
    text-align: center;
}

.bottonList {
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    background-color: rgba(120, 160, 255, 0.8);
    background-image: -moz-linear-gradient(top, rgba(80, 120, 200, 0.5), rgba(120, 160, 255, 0.8));
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(80, 120, 200, 0.5)), to(rgba(120, 160, 255, 0.8)));
    border-radius: 12px;
    height: 24px;
    margin: 10px 0 0 5px;
    width: 200px;
}

.bottonList a {
    display: block;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 24px;
    line-height: 24px;
    text-align: center;
}

#fullBlock {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    display: none;
    height: 620px;
    left: 50%;
    margin: 5px 0 0 -480px;
    position: absolute;
    width: 960px;
    z-index: 1;
}

#wrapperLoading {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 7px;
    display: none;
    height: 50px;
    left: 50%;
    margin: 440px 0 0 -140px;
    position: fixed;
    width: 280px;
    z-index: 2;
}

#wrapperLoading #loading {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: -moz-linear-gradient(100% 100% 180deg, #f30, #fc0);
    background: -moz-linear-gradient(100% 100% 180deg, #f30, #fc0);
    background-color: #FFA500;
    border-radius: 5px;
    height: 40px;
    margin: 5px 5px;
    width: 0px;
}

#wrapperListRar {
    display: none;
    height: 520px;
    left: 50%;
    margin-left: -160px;
    margin-top: 80px;
    width: 320px;
    z-index: 4;
}

#wrapperListRar2 {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    height: 500px;
    margin: 20px 0 0 20px;
    width: 300px;
}

#wrapperListRar3 {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    height: 490px;
    margin: 5px 0 0 5px;
    width: 290px;
}

#listRar {
    height: 460px;
    margin-top: 20px;
    overflow: auto;
    padding: 10px;
    width: 280px;
}

#listRar p { color: #fff }

#listRar .colorList1 { color: #ccf }

#listRar .colorList2 { color: #9f9 }

#listRar .colorList3 { color: #9ef }

#listRar .colorList4 { color: #3f3 }

#listRar .colorList5 { color: #ffc }

#listRar .colorList6 { color: #fe0 }

#listRar .colorList7 { color: #cf3 }

#closeListRar {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    height: 40px;
    margin-left: 300px;
    position: absolute;
    width: 40px;
    z-index: 5;
}

#closeListRar a {
    display: block;
    line-height: 40px
}

#closeListRar a img {
    height: 30px;
    margin: 5px 0 0 5px;
    width: 30px
}

#banner {
    background-color: rgba(20, 150, 20, 0.9);
    display: none;
    height: 60px;
    left: 50%;
    margin: 100px 0 0 -480px;
    position: fixed;
    width: 960px;
    z-index: 3;
}

#banner p {
    font-size: 20px;
    line-height: 60px;
    text-align: center;
}